In [51]:
import baserun
import csv
import openai
import os
import tiktoken
import json
from pydantic import BaseModel
from tqdm.notebook import tqdm
from typing import Tuple
from tenacity import retry, wait_random_exponential

from dotenv import load_dotenv

Set API keys

In [30]:
load_dotenv()
openai.api_key = os.getenv("OPENAI_API_KEY")
baserun.init()

/Users/rushabh/Library/Caches/pypoetry/virtualenvs/gptsaregpts-bRn197-3-py3.11/lib/python3.11/site-packages/baserun/baserun.py:44: UserWarning: Baserun has already been initialized. Additional calls to init will be ignored.
  warnings.warn("Baserun has already been initialized. Additional calls to init will be ignored.")

Connect to the database

In [31]:
import sqlite3


def connect(name: str) -> Tuple[sqlite3.Connection, sqlite3.Cursor]:
    conn = sqlite3.connect(name)
    c = conn.cursor()
    return conn, c

In [32]:
conn, c = connect("../db.sqlite")

Get the tokens for the classifier.

In [33]:
def get_tokens() -> dict:
    encoding = tiktoken.encoding_for_model("gpt-4")
    tokens = [encoding.encode(label) for label in ["0", "1", "2", "3", "N"]]

    # Flatten the list of lists and convert to a set.
    token_set = set([item for sublist in tokens for item in sublist])

    # Create a dictionary with the tokens and a default value of 100.
    token_dict = {str(token): 100 for token in token_set}

    return token_dict


logit_bias = get_tokens()
print(json.dumps(logit_bias))

{"45": 100, "15": 100, "16": 100, "17": 100, "18": 100}

~~Create the classification table if it doesn't exist already.~~

We don't need a classification table anymore.

In [34]:
def create_classification_table(c: sqlite3.Cursor, conn: sqlite3.Connection) -> None:
    dwa_classification_sql = """
    CREATE TABLE IF NOT EXISTS dwa_classification (
        onetsoc_code CHARACTER(10) NOT NULL,
        task_id DECIMAL(8,0) NOT NULL,    
        dwa_id CHARACTER VARYING(20) NOT NULL,
        classification CHARACTER(2) NOT NULL,
        FOREIGN KEY (onetsoc_code) REFERENCES occupation_data(onetsoc_code),
        FOREIGN KEY (task_id) REFERENCES task_statements(task_id),
        FOREIGN KEY (dwa_id) REFERENCES dwa_reference(dwa_id),
        PRIMARY KEY (onetsoc_code, task_id, dwa_id)
    );
    """

    c.execute(dwa_classification_sql)
    conn.commit()


# create_classification_table(c, conn)

Setup the prompts.

In [35]:
from pathlib import Path

user_template = Path(Path.cwd().parent / "prompts" / "user.txt").read_text()
system_template = Path(Path.cwd().parent / "prompts" / "system.txt").read_text()

Fetch all the rows from the database.

In [36]:
class DWAReference(BaseModel):
    dwa_id: str
    dwa_title: str
    classification: str | None = None

    @classmethod
    def from_tuple(cls, tup: tuple):
        return cls(
            dwa_id=tup[0],
            dwa_title=tup[1],
        )
    
    @retry(wait=wait_random_exponential(multiplier=1, max=60))
    async def classify(self) -> str:
        user_message = {
            "role": "user",
            "content": user_template.format(
                task=self.dwa_title,
            ),
        }
        system_message = {"role": "system", "content": system_template}

        response = await openai.ChatCompletion.acreate(
            messages=[system_message, user_message],
            logit_bias=logit_bias,
            max_tokens=1,
            temperature=0,
            model="gpt-3.5-turbo",
        )
        self.classification = response.choices[0]["message"]["content"]
        return self.classification

    def save(self, c: sqlite3.Cursor) -> None:
        insert_sql = "UPDATE dwa_reference SET classification = ? WHERE dwa_id = ?"
        c.execute(insert_sql, (self.classification, self.dwa_id))

In [37]:
def fetch_rows(c: sqlite3.Cursor, num: int = -1) -> list:
    select_query = """
select    
  t.dwa_id,
  t.dwa_title
from
  dwa_reference as t
where
  t.classification is null
order by
  t.dwa_id
  """
    c.execute(select_query)
    if num == -1:
        return [DWAReference.from_tuple(r) for r in c.fetchall()]
    else:
        return [DWAReference.from_tuple(r) for r in c.fetchmany(num)]

In [38]:
async def classify_all(rows: list[DWAReference]) -> None:
    for row in tqdm(rows, desc="Classifying"):
        await row.classify()
        print(f"[{row.dwa_id}]: {row.dwa_title}: {row.classification}")
        row.save(c)
    conn.commit()

In [42]:
occupation_codes = fetch_rows(c, 1000)
await classify_all(occupation_codes)

Classifying: 0it [00:00, ?it/s]

In [45]:
def calculate_task_scores():
    calculation_sql = """
    UPDATE task_statements
    SET 
        alpha = (
            SELECT 
                1.0 * SUM(CASE WHEN classification = 1 THEN 1 ELSE 0 END) / COUNT(*)
            FROM 
                tasks_to_dwas
            JOIN 
                dwa_reference ON tasks_to_dwas.dwa_id = dwa_reference.dwa_id
            WHERE
                tasks_to_dwas.task_id = task_statements.task_id
        ),
        beta = (
            SELECT 
                1.0 * (SUM(CASE WHEN classification = 1 THEN 1 ELSE 0 END) + 0.5 * SUM(CASE WHEN classification = 2 THEN 1 ELSE 0 END)) / COUNT(*)
            FROM 
                tasks_to_dwas
            JOIN 
                dwa_reference ON tasks_to_dwas.dwa_id = dwa_reference.dwa_id
            WHERE
                tasks_to_dwas.task_id = task_statements.task_id
        ),
        zeta = (
            SELECT 
                1.0 * (SUM(CASE WHEN classification = 1 THEN 1 ELSE 0 END) + SUM(CASE WHEN classification = 2 THEN 1 ELSE 0 END) + SUM(CASE WHEN classification = 3 THEN 1 ELSE 0 END)) / COUNT(*)
            FROM 
                tasks_to_dwas
            JOIN 
                dwa_reference ON tasks_to_dwas.dwa_id = dwa_reference.dwa_id
            WHERE
                tasks_to_dwas.task_id = task_statements.task_id
        )
    WHERE task_id IN (SELECT task_id FROM tasks_to_dwas);
    """
    c.execute(calculation_sql);
    conn.commit();

# calculate_task_scores()

In [47]:
def calculate_occupation_scores():
    occupation_data_sql = """
        UPDATE occupation_data
        SET
            alpha = (
                SELECT AVG(t.alpha)
                FROM task_statements as t
                WHERE t.onetsoc_code = occupation_data.onetsoc_code
            ),
            beta = (
                SELECT AVG(t.beta)
                FROM task_statements as t
                WHERE t.onetsoc_code = occupation_data.onetsoc_code
            ),
            zeta = (
                SELECT AVG(t.zeta)
                FROM task_statements as t
                WHERE t.onetsoc_code = occupation_data.onetsoc_code
            )
        ;
    """
    c.execute(occupation_data_sql);
    conn.commit();

# calculate_occupation_scores()

## Notes

Industry and employment numbers from BLS
https://www.bls.gov/emp/data/industry-out-and-emp.htm

CPS ONET crosswalks
https://www.bls.gov/emp/documentation/crosswalks.htm

We have to somehow map the major industry group by alpha, beta, and zeta. Steps:
1. Major industry group NAICS code -> List of NEM codes.
2. âœ… NEM codes -> ONET codes.
3. Calculate scores per major industry group.

Breakthrough!
- EP data tables: https://www.bls.gov/emp/tables.htm
- [industry-occupation-matrix by industry](https://www.bls.gov/emp/tables/industry-occupation-matrix-industry.htm)
- [industry-occupation-matrix by occupation](https://www.bls.gov/emp/tables/industry-occupation-matrix-occupation.htm)

There is some annoyance in having to download the individual CSV files, but we can get over that. This should help us do weighted exposure per industry. 
Then we can back into major industries by output and by employment.

In [52]:
def populate_onet_to_nem_mapping(csv_filepath: Path):
    # Open and read the CSV file
    with open(csv_filepath, 'r') as f:
        csv_reader = csv.DictReader(f)
        
        # Loop through each row in the CSV file
        for row in csv_reader:
            onetsoc_code = row['O*NET-SOC Code']
            nem_code = row['NEM Code']
            nem_title = row['National Employment Matrix Occupational Title']
            ooh_profile_code = row['OOH Profile Code']
            ooh_profile_title = row['OOH Profile Title']
            ooh_occupation_group = row['OOH Occupation Group']
            ooh_profile_website = row['OOH Profile Website']

            # Insert data into the SQLite table
            c.execute("""
                INSERT INTO bls_onet
                (onetsoc_code, nem_code, nem_title, ooh_profile_code, ooh_profile_title, ooh_occupation_group, ooh_profile_website)
                VALUES (?, ?, ?, ?, ?, ?, ?)
            """, (onetsoc_code, nem_code, nem_title, ooh_profile_code, ooh_profile_title, ooh_occupation_group, ooh_profile_website))
    
    # Commit changes and close the connection
    conn.commit()
    print("Added rows to bls_onet table.")

# Usage
# populate_onet_to_nem_mapping(Path.cwd().parent / "data" / "bls" / "onet_soc_crosswalk.csv")

In [53]:
def load_bls_matrix_csv_to_db(csv_file_path: Path):
    with open(csv_file_path, newline='') as csvfile:
        csvreader = csv.reader(csvfile)
        next(csvreader)  # Skip header row

        for row in tqdm(csvreader):
            occupation_type = row[0]
            industry_type = row[1]
            occupation_code = row[2]
            occupation_title = row[3]
            industry_code = row[4]
            industry_title = row[5]
            employment_2022 = float(row[6])
            percent_industry_2022 = float(row[7])
            percent_occupation_2022 = float(row[8])

            c.execute("""
                INSERT INTO bls_matrix (
                    occupation_type,
                    industry_type,
                    occupation_code,
                    occupation_title,
                    industry_code,
                    industry_title,
                    employment_2022,
                    percent_industry_2022,
                    percent_occupation_2022
                )
                VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
            """, (occupation_type, industry_type, occupation_code, occupation_title, industry_code, industry_title, employment_2022, percent_industry_2022, percent_occupation_2022))

    conn.commit()

# Use the function
# load_bls_matrix_csv_to_db(Path.cwd().parent / "data" / "bls" / "matrix.csv")

In [68]:
def calculate_bls_occupation_scores():
    # Fetch all rows where the occupation type is "Line item" and the industry type is "Line item"
    fetch_rows_sql = """
SELECT
    bm.id,
    bm.alpha,
    bm.beta,
    bm.zeta,
    od.alpha,
    od.beta,
    od.zeta
FROM
    occupation_data AS od
JOIN
    bls_onet AS bo ON od.onetsoc_code = bo.onetsoc_code
JOIN
    bls_matrix as bm ON bm.occupation_code = bo.nem_code
WHERE
    bm.occupation_type = 'Line item' AND
    bm.industry_type = 'Line item' AND
    bm.alpha IS NULL AND
    od.alpha IS NOT NULL
"""
    for rows in tqdm(c.execute(fetch_rows_sql).fetchall()):
        id, alpha, beta, zeta, od_alpha, od_beta, od_zeta = rows
        update_row_sql = """
UPDATE bls_matrix
SET
    alpha = ?,
    beta = ?,
    zeta = ?
WHERE
    id = ?
"""
        c.execute(update_row_sql, (od_alpha, od_beta, od_zeta, id))

    conn.commit();

calculate_bls_occupation_scores()

  0%|          | 0/6441 [00:00<?, ?it/s]

In [74]:
import pandas as pd

def update_single_row(id: str, alpha: float, beta: float, zeta: float):
    update_summary_sql = """
UPDATE bls_matrix
SET
    alpha = :alpha,
    beta = :beta,
    zeta = :zeta
WHERE
    id = :id
"""
    # update the row with the weighted average
    c.execute(update_summary_sql, {"alpha": alpha, "beta": beta, "zeta": zeta, "id": id})    

def sumprod(line_items: list):
    # stuff the rows into a pandas dataframe
    df = pd.DataFrame(line_items, columns=["id", "employment_2022", "alpha", "beta", "zeta"])

    # calculate the weighted average of the scores
    weighted_alpha = (df["employment_2022"] * df["alpha"]).sum() / df["employment_2022"].sum()
    weighted_beta = (df["employment_2022"] * df["beta"]).sum() / df["employment_2022"].sum()
    weighted_zeta = (df["employment_2022"] * df["zeta"]).sum() / df["employment_2022"].sum()

    return weighted_alpha, weighted_beta, weighted_zeta


def calculate_summary_scores_by_industry(industry_code: str):
    # Fetch the occupation codes to summarize.
    occupation_codes = """
SELECT
    id,
    occupation_code
FROM
    bls_matrix
WHERE
    industry_code = :industry_code AND
    occupation_type = 'Summary' AND
    occupation_code != '00-0000'
"""
    occupation_codes = c.execute(occupation_codes, {"industry_code": industry_code}).fetchall()

    # For each row, summarize the Line items.
    for row in occupation_codes:
        id, occupation_code = row

        regexp = occupation_code.rstrip("0").ljust(7, "_")

        # Fetch the set of rows to summarize by looking at codes that start with the industry code
        query_sql = """
SELECT
    id,
    employment_2022,
    alpha,
    beta,
    zeta
FROM
    bls_matrix
WHERE
    industry_code = :industry_code AND
    occupation_code LIKE :regexp    
"""
        line_items = c.execute(query_sql, {"industry_code": industry_code, "regexp": regexp}).fetchall()
        if len(line_items) == 0:
            print(f"No line items found.")
            continue

        weighted_alpha, weighted_beta, weighted_zeta = sumprod(line_items)

        # update the row with the weighted average
        update_single_row(id, weighted_alpha, weighted_beta, weighted_zeta)

    conn.commit()

# Summarize over all industries
def calculate_summary_scores():
    industry_codes_sql = """
SELECT
  DISTINCT industry_code
FROM
  bls_matrix
"""
    industry_codes = c.execute(industry_codes_sql).fetchall()
    for row in tqdm(industry_codes):
        industry_code = row[0]
        calculate_summary_scores_by_industry(industry_code)
        print(f"Finished {industry_code}")

# calculate_summary_scores()

In [75]:
# Update the summaries for the "All industries" rows
def calculate_summary_scores_for_all_industries():
    industry_codes_sql = """
SELECT
    id,
    industry_code
FROM
    bls_matrix
WHERE
    occupation_type = 'Summary' AND
    occupation_code = '00-0000' AND
    alpha IS NULL
"""
    for row in tqdm(c.execute(industry_codes_sql).fetchall()):
        id, industry_code = row

        query_sql = """
SELECT
    id,
    employment_2022,
    alpha,
    beta,
    zeta
FROM
    bls_matrix
WHERE
    industry_code = :industry_code AND
    occupation_type = 'Line item'
"""
        line_items = c.execute(query_sql, {"industry_code": industry_code}).fetchall()
        if len(line_items) == 0:
            print(f"No line items found.")
            continue

        weighted_alpha, weighted_beta, weighted_zeta = sumprod(line_items)

        # update the row with the weighted average
        update_single_row(id, weighted_alpha, weighted_beta, weighted_zeta)
        print(f"Finished {industry_code}")
    conn.commit()

calculate_summary_scores_for_all_industries()

  0%|          | 0/426 [00:00<?, ?it/s]

Finished TE1000
Finished TE1100
Finished TE1200
Finished 110000
Finished 111000
Finished 112000
Finished 113000
Finished 1131-2
Finished 113300
Finished 114000
Finished 115000
Finished 210000
Finished 211000
Finished 212100
Finished 212200
Finished 212300
Finished 213000
Finished 220000
Finished 221000
Finished 221100
Finished 221110
Finished 221111
Finished 221112
Finished 221113
Finished 221114
Finished 221115
Finished 221116
Finished 221117
Finished 221118
Finished 221200
Finished 221300
Finished 230000
Finished 236000
Finished 236100
Finished 236200
Finished 237000
Finished 237100
Finished 237130
Finished 237200
Finished 237300
Finished 237900
Finished 238000
Finished 238100
Finished 238110
Finished 238140
Finished 238160
Finished 238200
Finished 238210
Finished 238220
Finished 238290
Finished 238300
Finished 238310
Finished 238320
Finished 238900
Finished 31-330
Finished 311000
Finished 311100
Finished 311200
Finished 311300
Finished 311400
Finished 311500
Finished 311600
Finished 311700
Finished 311800
Finished 311900
Finished 312000
Finished 312100
Finished 312200
Finished 313-40
Finished 313000
Finished 314000
Finished 315-60
Finished 315000
Finished 316000
Finished 321000
Finished 321100
Finished 321200
Finished 321900
Finished 322000
Finished 322100
Finished 322200
Finished 323000
Finished 324000
Finished 325000
Finished 325400
Finished 3250A2
Finished 3250A1
Finished 326000
Finished 326100
Finished 326200
Finished 327000
Finished 331000
Finished 331100
Finished 331200
Finished 331300
Finished 331400
Finished 331500
Finished 332000
Finished 3320A2
Finished 332700
Finished 332710
Finished 332720
Finished 332800
Finished 3320A1
Finished 333000
Finished 333300
Finished 333500
Finished 333600
Finished 3330A1
Finished 334000
Finished 334100
Finished 334200
Finished 334300
Finished 334400
Finished 334500
Finished 334600
Finished 335000
Finished 335100
Finished 335200
Finished 335300
Finished 335900
Finished 336000
Finished 336100
Finished 336200
Finished 336300
Finished 336400
Finished 336500
Finished 336600
Finished 336900
Finished 337000
Finished 3370A1
Finished 337900
Finished 339000
Finished 339100
Finished 339900
Finished 339910
Finished 420000
Finished 423000
Finished 423100
Finished 423400
Finished 423800
Finished 423820
Finished 4230A1
Finished 424000
Finished 424300
Finished 424500
Finished 4240A2
Finished 4240A1
Finished 4240A3
Finished 425000
Finished 44-450
Finished 441000
Finished 441100
Finished 441200
Finished 441300
Finished 445000
Finished 4450A1
Finished 445300
Finished 455000
Finished 4445R0
Finished 444000
Finished 444100
Finished 444200
Finished 449000
Finished 449100
Finished 449200
Finished 456000
Finished 456100
Finished 456110
Finished 457000
Finished 457100
Finished 457200
Finished 458000
Finished 458100
Finished 458200
Finished 458300
Finished 459000
Finished 459110
Finished 459200
Finished 459300
Finished 4590A1
Finished 459900
Finished 48-490
Finished 481000
Finished 481100
Finished 481200
Finished 482000
Finished 483000
Finished 483100
Finished 483200
Finished 484000
Finished 485000
Finished 485100
Finished 485200
Finished 485300
Finished 485400
Finished 485500
Finished 485900
Finished 486000
Finished 486100
Finished 486200
Finished 486900
Finished 487-80
Finished 487000
Finished 487100
Finished 487200
Finished 487900
Finished 488000
Finished 488100
Finished 488200
Finished 488300
Finished 488400
Finished 488500
Finished 488900
Finished 492000
Finished 492100
Finished 492200
Finished 493000
Finished 510000
Finished 512000
Finished 512100
Finished 512130
Finished 512200
Finished 513000
Finished 513110
Finished 513200
Finished 516000
Finished 516110
Finished 516120
Finished 516210
Finished 517000
Finished 518000
Finished 519000
Finished 520000
Finished 521-20
Finished 521000
Finished 522000
Finished 522200
Finished 522290
Finished 5220A1
Finished 524000
Finished 524100
Finished 524114
Finished 524120
Finished 524200
Finished 524210
Finished 524290
Finished 523,50
Finished 523000
Finished 525000
Finished 525100
Finished 525900
Finished 530000
Finished 531000
Finished 532000
Finished 532100
Finished 5320A1
Finished 533000
Finished 540000
Finished 541000
Finished 541100
Finished 541200
Finished 541300
Finished 541330
Finished 541380
Finished 541400
Finished 541500
Finished 541600
Finished 541700
Finished 541710
Finished 541720
Finished 541800
Finished 541900
Finished 541920
Finished 541940
Finished 550000
Finished 551000
Finished 560000
Finished 561000
Finished 561100
Finished 561200
Finished 561300
Finished 561320
Finished 561400
Finished 561500
Finished 561600
Finished 561610
Finished 561620
Finished 561700
Finished 561710
Finished 561730
Finished 561900
Finished 562000
Finished 562100
Finished 562200
Finished 562900
Finished 610000
Finished 611000
Finished 611100
Finished 611105
Finished 611102
Finished 611103
Finished 6112-3
Finished 611200
Finished 611205
Finished 611202
Finished 611203
Finished 611300
Finished 611305
Finished 611302
Finished 611303
Finished 6114-7
Finished 611400
Finished 611405
Finished 611402
Finished 611403
Finished 611500
Finished 611505
Finished 611502
Finished 611503
Finished 611600
Finished 611605
No line items found.
Finished 611603
Finished 611700
Finished 611705
Finished 611703
Finished 620000
Finished 621000
Finished 621100
Finished 621200
Finished 621300
Finished 621310
Finished 621320
Finished 621330
Finished 621340
Finished 621390
Finished 621400
Finished 621420
Finished 621500
Finished 621600
Finished 621900
Finished 621910
Finished 621990
Finished 622000
Finished 622100
Finished 622105
Finished 622102
Finished 622103
Finished 622200
Finished 622205
Finished 622202
Finished 622203
Finished 622300
Finished 622305
Finished 622302
Finished 622303
Finished 623000
Finished 623100
Finished 623200
Finished 623210
Finished 623220
Finished 623300
Finished 623900
Finished 624000
Finished 624100
Finished 624120
Finished 6242-3
Finished 624200
Finished 624300
Finished 624400
Finished 710000
Finished 711000
Finished 711100
Finished 711110
Finished 711200
Finished 7113-4
Finished 711300
Finished 711400
Finished 711500
Finished 712000
Finished 713000
Finished 713100
Finished 713200
Finished 713900
Finished 713940
Finished 720000
Finished 721000
Finished 721100
Finished 721120
Finished 721200
Finished 721300
Finished 722000
Finished 722300
Finished 722400
Finished 722500
Finished 722511
Finished 810000
Finished 811000
Finished 811100
Finished 811110
Finished 811120
Finished 811190
Finished 811200
Finished 811300
Finished 811400
Finished 812000
Finished 812100
Finished 812200
Finished 812300
Finished 812900
Finished 813000
Finished 8132-3
Finished 813200
Finished 813300
Finished 8134-9
Finished 813400
Finished 813900
Finished 813930
Finished 814000
Finished 900000
Finished 910000
Finished 491000
Finished 999100
Finished 999200
Finished 999300